.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree {
  display: flex;
  align-items: flex-start;
}

.tree_column {
  display: flex;
  flex-direction: column;
}

.main, .PodOtdeli, .Rukovodstvo, .doljnost, .rukovodstvoOtdela, .odOtdeli {
  width: 200px;
  border: 3px solid black;
  text-align: center;
  background-color: #2c852c;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
}

.BodyOtdels {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.Otdel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.new_tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dontShow {
  transition-duration: 1s;
  opacity: 0;
  visibility: collapse;
  transform: scale(0);
}

.show {
  transition-duration: 1s;
  opacity: 100;
  visibility: visible;
}

.relativeClass {
  position: relative;
}
