.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tree {
  display: flex;
  align-items: flex-start;
}

.tree_row {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.main, .PodOtdeli, .Rukovodstvo, .doljnost, .rukovodstvoOtdela, .odOtdeli {
  width: 300px;
  border: 1px solid black;
  text-align: center;
  background-color: green;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  margin: 20px;
}

.BodyOtdels {
  display: flex;
  flex-direction: row;
}

.Otdel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}
