.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree {
    display: flex;
    align-items: flex-start;
}
.tree_column {
    display: flex;
    flex-direction: column;
}
.main, .PodOtdeli, .Rukovodstvo, .doljnost, .rukovodstvoOtdela, .odOtdeli {
    width: 200px;
    border: 3px solid black;
    text-align: center;
    background-color: rgb(44, 133, 44);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.BodyOtdels {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.Otdel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.new_tree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: 120px;
}

.dontShow {
    transition-duration: 1s;
    opacity: 0;
    visibility: collapse;
    transform: scale(0);
}

.show {
    transition-duration: 1s;
    // transition-property: height;
    opacity: 100;
    visibility: visible;
}
.BodyOtdel {
    // margin: 0 20px;
}
.relativeClass {
    position: relative;
}