.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree {
    display: flex;
    align-items: flex-start;
}
.tree_column {
    // display: flex;
    // flex-direction: column;
}
.main, .PodOtdeli, .Rukovodstvo, .doljnost, .rukovodstvoOtdela, .odOtdeli {
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: green;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.BodyOtdel {
}

.Otdel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new_tree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}